.text-center.p-sm
  = bootstrap_form_for [:beta, @user], feedback_icons: true, inline_errors: false, tooltip_errors: 'bottom', layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9" do |f|
    - if @user.errors.any?
      .small
        = f.alert_message 'Please fill in all the required fields and fix the errors below.', error_summary: false
    = f.text_field :first_name, placeholder: 'John'
    = f.text_field :last_name, placeholder: 'Doe'
    = f.email_field :email, placeholder: 'user@mail.com'
    = f.phone_field :phone, placeholder: '010 1234 5678'
    = render partial: 'user_surveys/user_survey', :locals => {:f => f}
    = f.primary 'Sign up for Beta Test'
