.text-center.p-sm
  = bootstrap_form_for @vocabulary_list, feedback_icons: true, inline_errors: false, tooltip_errors: 'bottom', layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9", multipart: true do |f|
    - if @vocabulary_list.errors.any?
      .small.text-left
        = f.alert_message 'Please fill in all the required fields and fix the errors below.', error_summary: true
    = f.text_field :name, placeholder: 'Level 1'
    = f.text_field :group, placeholder: 'Oxford 3000 Nouns'
    = f.text_area :description, placeholder: 'Nouns from the Oxford 3000'
    = f.file_field :word_list_file, label: "Word List File"
    = f.primary 'Save'


-#= form_for @vocabulary_list do |f|
-#  - if @vocabulary_list.errors.any?
-#    #error_explanation
-#      %h2= "#{pluralize(@vocabulary_list.errors.count, "error")} prohibited this vocabulary_list from being saved:"
-#      %ul
-#        - @vocabulary_list.errors.full_messages.each do |msg|
-#          %li= msg
-#
-#  .field
-#    = f.label :name
-#    = f.text_field :name
-#  .field
-#    = f.label :group
-#    = f.text_field :group
-#  .field
-#    = f.label :description
-#    = f.text_area :description
-#  .actions
-#    = f.submit 'Save'
