- @sidebar = 'user'
.row
  .col-sm-12
    %h1 Vocabulary Lists
.row
  .col-sm-12
    .dataTable_wrapper
      %table#datatable.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Name
            %th Group
            %th Description
            %th Updated
            /%th P
            /%th D
            /%th A

        %tbody
          - @vocabulary_lists.each do |vocabulary_list|
            %tr
              %td= vocabulary_list.name
              %td= vocabulary_list.group
              %td= vocabulary_list.description
              %td= vocabulary_list.updated_at
              /%td= link_to 'Show', vocabulary_list
              /%td= link_to 'Edit', edit_vocabulary_list_path(vocabulary_list)
              /%td= link_to 'Destroy', vocabulary_list, :method => :delete, :data => { :confirm => 'Are you sure?' }
    = link_to 'Create New', new_vocabulary_list_path, role: 'button', class: 'btn btn-primary'
