- @sidebar = 'user'
.row
  .col-md-12
    %h1
      New Vocabulary List
  .col-md-6
    .panel.panel-default
      .panel-body
        = render partial: 'vocabulary_list'
  .col-md-12
    = link_to 'Back', vocabulary_lists_path
