%p#notice= notice

%p
  %b Name:
  = @vocabulary_list.name
%p
  %b Group:
  = @vocabulary_list.group
%p
  %b Description:
  = @vocabulary_list.description

= link_to 'Edit', edit_vocabulary_list_path(@vocabulary_list)
\|
= link_to 'Back', vocabulary_lists_path
