@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "rails_bootstrap_forms";
@import "datatables/responsive/dataTables.responsive";
@import "datatables/plugins/integration/bootstrap/dataTables.bootstrap";
@import "sbadmin2/sb-admin-2";


.form-horizontal .text-left .control-label {
  text-align: left;
}

@mixin title_text {
  font-size: 30px;
  font-weight: bold;
}

@mixin menu_text {
  font-size: 16px;
  //font-weight: bold;
}

.navbar-brand {
  @include title_text;
}

.navbar-nav {
  @include menu_text;
  margin-right: 0;
}

.navbar-nav li {
  display: inline-block;
}

.navbar-nav li:last-child {
  @include menu_text;
}

.navbar-nav li:last-child ul li a {
  font-size: 14px;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

/* Bootstrap form */
label.required:after {
  content:" *";
}

/* MARGINS & PADDINGS */

.p-xxs {
  padding: 5px;
}

.p-xs {
  padding: 10px;
}

.p-sm {
  padding: 15px;
}

.p-m {
  padding: 20px;
}

.p-md {
  padding: 25px;
}

.p-lg {
  padding: 30px;
}

.p-xl {
  padding: 40px;
}

.m-xxs {
  margin: 2px 4px;
}

.m-xs {
  margin: 5px;
}

.m-sm {
  margin: 10px;
}

.m {
  margin: 15px;
}

.m-md {
  margin: 20px;
}

.m-lg {
  margin: 30px;
}

.m-xl {
  margin: 50px;
}

.m-n {
  margin: 0 !important;
}

.m-l-none {
  margin-left: 0;
}

.m-l-xs {
  margin-left: 5px;
}

.m-l-sm {
  margin-left: 10px;
}

.m-l {
  margin-left: 15px;
}

.m-l-md {
  margin-left: 20px;
}

.m-l-lg {
  margin-left: 30px;
}

.m-l-xl {
  margin-left: 40px;
}

.m-l-n-xxs {
  margin-left: -1px;
}

.m-l-n-xs {
  margin-left: -5px;
}

.m-l-n-sm {
  margin-left: -10px;
}

.m-l-n {
  margin-left: -15px;
}

.m-l-n-md {
  margin-left: -20px;
}

.m-l-n-lg {
  margin-left: -30px;
}

.m-l-n-xl {
  margin-left: -40px;
}

.m-t-none {
  margin-top: 0;
}

.m-t-xxs {
  margin-top: 1px;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-sm {
  margin-top: 10px;
}

.m-t {
  margin-top: 15px;
}

.m-t-md {
  margin-top: 20px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-t-xl {
  margin-top: 40px;
}

.m-t-n-xxs {
  margin-top: -1px;
}

.m-t-n-xs {
  margin-top: -5px;
}

.m-t-n-sm {
  margin-top: -10px;
}

.m-t-n {
  margin-top: -15px;
}

.m-t-n-md {
  margin-top: -20px;
}

.m-t-n-lg {
  margin-top: -30px;
}

.m-t-n-xl {
  margin-top: -40px;
}

.m-r-none {
  margin-right: 0;
}

.m-r-xxs {
  margin-right: 1px;
}

.m-r-xs {
  margin-right: 5px;
}

.m-r-sm {
  margin-right: 10px;
}

.m-r {
  margin-right: 15px;
}

.m-r-md {
  margin-right: 20px;
}

.m-r-lg {
  margin-right: 30px;
}

.m-r-xl {
  margin-right: 40px;
}

.m-r-n-xxs {
  margin-right: -1px;
}

.m-r-n-xs {
  margin-right: -5px;
}

.m-r-n-sm {
  margin-right: -10px;
}

.m-r-n {
  margin-right: -15px;
}

.m-r-n-md {
  margin-right: -20px;
}

.m-r-n-lg {
  margin-right: -30px;
}

.m-r-n-xl {
  margin-right: -40px;
}

.m-b-none {
  margin-bottom: 0;
}

.m-b-xxs {
  margin-bottom: 1px;
}

.m-b-xs {
  margin-bottom: 5px;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-b {
  margin-bottom: 15px;
}

.m-b-md {
  margin-bottom: 20px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.m-b-xl {
  margin-bottom: 40px;
}

.m-b-n-xxs {
  margin-bottom: -1px;
}

.m-b-n-xs {
  margin-bottom: -5px;
}

.m-b-n-sm {
  margin-bottom: -10px;
}

.m-b-n {
  margin-bottom: -15px;
}

.m-b-n-md {
  margin-bottom: -20px;
}

.m-b-n-lg {
  margin-bottom: -30px;
}

.m-b-n-xl {
  margin-bottom: -40px;
}

.space-15 {
  margin: 15px 0;
}

.space-20 {
  margin: 20px 0;
}

.space-25 {
  margin: 25px 0;
}

.space-30 {
  margin: 30px 0;
}

//// make all images responsive by default
//img {
//  @extend .img-responsive;
//  margin: 0 auto;
//  }
//// override for the 'Home' navigation link
//.navbar-brand {
//  font-size: inherit;
//  }
//
//// THESE ARE EXAMPLES YOU CAN MODIFY
//// create your own classes
//// to make views framework-neutral
//.column {
//  @extend .col-md-6;
//  @extend .text-center;
//  }
//.form {
//  @extend .col-md-6;
//  }
//.form-centered {
//  @extend .col-md-6;
//  @extend .text-center;
//  }
//.submit {
//  @extend .btn;
//  @extend .btn-primary;
//  @extend .btn-lg;
//  }
//// apply styles to HTML elements
//// to make views framework-neutral
//main {
//  @extend .container;
//  background-color: #eee;
//  padding-bottom: 80px;
//  width: 100%;
//  margin-top: 51px; // accommodate the navbar
//  }
//section {
//  @extend .row;
//  margin-top: 20px;
//  }
//
//// Styles for form views
//// using Bootstrap
//// generated by the rails_layout gem
//.authform {
//  padding-top: 30px;
//  max-width: 320px;
//  margin: 0 auto;
//}
//.authform form {
//  @extend .well;
//  @extend .well-lg;
//  padding-bottom: 40px;
//}
//.authform .right {
//  float: right !important;
//}
//.authform .button {
//  @extend .btn;
//  @extend .btn-primary;
//}
//.authform fieldset {
//  @extend .well;
//}
//#error_explanation:not(:empty) {
//  @extend .alert;
//  @extend .alert-danger;
//}
//#error_explanation h2 {
//  font-size: 16px;
//}
//.button-xs {
//  @extend .btn;
//  @extend .btn-primary;
//  @extend .btn-xs;
//}
