/- @sidebar = 'user'
.row
  .col-sm-12
    .jumbotron.text-center
      %h1 Never forget vocabulary words again!
      %p Learn how to study more efficiently with Smart Gongbu.
      .row
        .col-sm-12
          #video_link
            = icon 'play-circle', class: 'fa-5x'
          #video_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                .modal-body
                  .embed-responsive.embed-responsive-16by9
                    %iframe.embed-responsive-item{:allowfullscreen => "", :frameborder => "0", :height => "315", :width => "560"}
    %h1 Beta Signup!
    %p Smart Gongbu is still in development, but will be available very soon. Sign-up today and be the first to test Smart Gongbu!
    = link_to 'Sign up for Beta Test', new_beta_user_path, role: 'button', class: 'btn btn-primary btn-lg'
