.row
  .col-sm-12
    %h1 Thank you for signing up!
    %p You will recieve an email from us when Smart Gongbu is ready to be beta tested!
    = link_to 'Back to Smart Gongbu', root_path, role: 'button', class: 'btn btn-primary btn-lg'
