%li
  = link_to(root_path) do
    = icon 'dashboard', 'Dashboard', class: 'fa-fw'
%li
  = link_to('#') do
    = icon 'bar-chart-o', 'Charts', class: 'fa-fw'
    = content_tag 'span', icon('arrow')
  %ul.nav.nav-second-level
    %li= link_to('Flot Charts', root_path)
    %li= link_to('Morris.js Charts', root_path)
