%nav.navbar.navbar-inverse.navbar-static-top{:role => 'navigation', :style => 'margin-bottom: 0'}
  -# .container
  .navbar-header
    %button.navbar-toggle{'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse', :type => 'button'}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'Smart Gongbu', root_path, class: 'navbar-brand'
  .collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right
      = render 'layouts/navigation_top_links'
  - if @sidebar
    .navbar-inverse.sidebar{:role => "navigation"}
      .sidebar-nav.navbar-collapse
        %ul#side-menu.nav
          = render 'layouts/navigation_sidebar_menu'