%li{:role => 'presentation'}
  = link_to(root_path) do
    = icon 'cog', 'SUPPORT', class: 'fa-fw fa-inverse'
%li{:role => 'presentation'}
  = link_to(root_path) do
    = icon 'phone', 'CONTACT', class: 'fa-fw fa-inverse'
%li{:role => 'presentation', :class => 'dropdown'}
  %a{ :href => '#', :class => 'dropdown-toggle', :data => { :toggle => 'dropdown' }, :aria => { :expanded => 'false' } }
    = icon 'user', class: 'fa-fw fa-inverse'
    = icon 'caret-down', class: 'fa-inverse'
  %ul.dropdown-menu.dropdown-user
    %li
      = link_to(root_path) do
        = icon 'sign-in', 'Login', class: 'fa-fw'
    %li
      = link_to(root_path) do
        = icon 'user', 'User Profile', class: 'fa-fw'

-# - if user_signed_in?
  %li= link_to 'Edit account', edit_user_registration_path
  %li= link_to 'Sign out', destroy_user_session_path, :method=>'delete'
-# - else
  %li= link_to 'Sign in', new_user_session_path
  %li= link_to 'Sign up', new_user_registration_path
-# - if user_signed_in?
  - if current_user.try(:admin?)
    %li= link_to 'Admin', '/admin'
    %li= link_to 'Users', users_path