!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Smart Gongbu'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Smart Gongbu - Never forget vocabulary words again!'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
    %main{:role => "main"}
      #wrapper
        = render 'layouts/navigation'
        %div{ :id => (@sidebar ? 'page-wrapper' : 'page-wrapper-full')}
          / = render 'layouts/messages'
          = yield
    = javascript_include_tag params[:controller], 'data-turbolinks-track' => true
